// COLORS
//$primary-color: #02aab0;
//$secondary-color: #00cdac;
//$primary-color: #b34b22;
//$secondary-color: #812000;
$secondary-color: #b34b22;
$primary-color: #812000;

$white-color: #fff7e1;

$dark-grey: #333333;
$footer-grey: #b0ab9e;

//$dark-blue-text: #272341; // For Headings
$dark-blue-text: #00001d;
$dark-blue-project-text: #252935;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;